## Birth Dates In The United States

The raw data behind the story **Some People Are Too Superstitious To Have A Baby On Friday The 13th**, which you can read [here](http://fivethirtyeight.com/features/some-people-are-too-superstitious-to-have-a-baby-on-friday-the-13th/).

I'll be working with the data set from the Centers for Disease Control and Prevention's National National Center for Health Statistics. The data set has the following structure: 
- `year` - Year
- `month` - Month
- `date_of_month` - Day number of the month
- `day_of_week` - Day of week, where 1 is Monday and 7 is Sunday
- `births` - Number of births

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

sb.set_style('whitegrid')

### Read data

In [22]:
data = pd.read_csv('births.csv')
data.head(20)

    year  month  date_of_month  day_of_week  births
0   1994      1              1            6    8096
1   1994      1              2            7    7772
2   1994      1              3            1   10142
3   1994      1              4            2   11248
4   1994      1              5            3   11053
5   1994      1              6            4   11406
6   1994      1              7            5   11251
7   1994      1              8            6    8653
8   1994      1              9            7    7910
9   1994      1             10            1   10498
10  1994      1             11            2   11706
11  1994      1             12            3   11567
12  1994      1             13            4   11212
13  1994      1             14            5   11570
14  1994      1             15            6    8660
15  1994      1             16            7    8123
16  1994      1             17            1   10567
17  1994      1             18            2   11541
18  1994      1             19            3   11257
19  1994      1             20            4   11682

In [20]:
data.dtypes

year             int64
month            int64
date_of_month    int64
day_of_week      int64
births           int64
dtype: object

### Friday the 13th
Let's find out how many people were born on the 13th Friday 1994-2003.

In [23]:
born_on_13th = data["date_of_month"] == 13
born_on_friday = data['day_of_week'] == 7

born_on_13th_friday = data[born_on_13th & born_on_friday]
born_on_13th_friday

      year  month  date_of_month  day_of_week  births
43    1994      2             13            7    8171
71    1994      3             13            7    8248
316   1994     11             13            7    8093
589   1995      8             13            7    8421
1016  1996     10             13            7    7970
1198  1997      4             13            7    7559
1289  1997      7             13            7    8092
1716  1998      9             13            7    8434
1807  1998     12             13            7    7460
1989  1999      6             13            7    7648
2234  2000      2             13            7    7801
2416  2000      8             13            7    8174
2689  2001      5             13            7    7370
2934  2002      1             13            7    7355
3207  2002     10             13            7    7326
3389  2003      4             13            7    7130
3480  2003      7             13            7    7867

In [24]:
total_births_count = data["births"].sum()
total_births_count

39722137

In [26]:
total_births_count_friday13th = born_on_13th_friday["births"].sum()
total_births_count_friday13th

133119

In [29]:
percentage_of_births_friday13th = (total_births_count_friday13th/total_births_count) * 100
percentage_of_births_friday13th

0.33512547424122724

### Findings 
About 0.33% of births tooks place on Friday the 13th in comparision to the total births from 1994-2003. The percentage is really small; so people really are Superstitious to have a baby on Friday the 13th.

Let's compare this percentage to some popular days in year like Dec 25th (Christmans) or Jan 1st (New Year)

### Births on Christmas and New Years

In [32]:
born_on_christmas = data[(data["month"] == 12) & (data['date_of_month'] == 25)]
born_on_christmas

KeyError: 'day_of_month'